@charset "utf-8";


.container {
    width: min(100% - 40px, 1080px);
    margin-inline: auto;
    gap: 40px 20px;
    
}

.grid-center {
    display:grid;
    place-items: center;
}

.flex {
    display:flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.grid {
    width: 600px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
    
}

body {
    background-color: #f2f3f6;

}


/* - - - - - - - - - - - - - - - - - -  - - - - */
/* - - - - Header and Footer            - - - - */
/* - - - - - - - - - - - - - - - - - -  - - - - */
header {
    height: 50px;
    background-color: #6c6c6d;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    color:#fff;
    margin-left: 20px;
    padding-top: 10px;
}


.justify-between {
    justify-content: space-between;
}

ul {
    margin-right: 20px;
}
nav ul li {
    display: inline;
    line-height: 50px;

    a {
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }  
    } 
}

li + li {
    margin-left: 15px;
}

footer {
    height: 80px;
    background-color:#6c6c6d;

    p {
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }
   .contact-section {
        position: relative;
        top: 30px;
        left: 20px;
   }
    ul {
        list-style: none;
    }
    li {
        display: inline;
    }
    
    .icon {
        font-size: 30px;
        color: #605d78;
        cursor: pointer;
        transition: color .4s ease-in-out;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color: #e2e2e2;
        line-height: 1.4;
          
    } 
    .icon.fa-facebook:hover {
        color: #1877F2
     }  
    .icon.fa-linkedin:hover {
        color: #0077B5
     }
    .icon.fa-github:hover {
        color:#000000
    }
}
/* - - - - - - - - - - - - - - - - - - */
/*          Hero Banner                */
/* - - - - - - - - - - - - - - - - - - */


.hero-banner {
    height: 400px;
    background: #fff url(../img/typewriter2.jpg) center center / cover no-repeat;
    overflow: hidden;
}

.hero-content {
    height: 400px;
    justify-content: center;
    align-items:center;


    & > div {
        text-align: center;
        
        color: #fff;

        h2 {
            line-height: 1;
            font-size: 80px;
            font-weight: 900;
            letter-spacing: 0.2px;
        }

        p {
            font-size: 34px;
            font-weight: 500;
        }
    }
}


/* - - - - - - - - - - - - - - - - - -  - - - - */
/* - - - - - - - - Main Content- - - - - - - -- */
/* - - - - - - - - - - - - - - - - - -  - - - - */

.article {
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
}

.aside {
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
}


/* - - - - - - - - - - - - - - - - - -  - - - - */
/* - - - - - - - - Dashboard- -  - - - - - - -- */
/* - - - - - - - - - - - - - - - - - -  - - - - */

.dashboard {
    height: calc(100dvh - 56px - 100px);
}

section {
    width: 100%;
}

.row {
    gap: 20px;
}

.row + .row {
    margin-top: 20px;
}
.column {
    width: 100%;
    height: 100px;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgb (0 0 0 / 5%);
    

    .icon {
        padding-left: 5px;
        width: 100px;
        height: 100%;
        border-right: 1px solid rgb (0 0 0 / 5%);
    }

    .data {
        width: calc(100% - 100px);
        height: 100px;
        font-size: 18px;
    }
}

.icon > div {
    width: 100px;
    height: 90px;
   
    border-radius: 50%;
    
}

.noun {
    background-color:#c4b0dd;
}

.pronoun {
    background-color:#b0c1dd;
}

.adjective {
    background-color:#b0ddd3;
}
.verb {
    background-color:#b0ddd3;
}

.adverb {
    background-color:#c4b0dd;
}

.preposition {
    background-color:#b0c1dd;
}

.conjunction {
    background-color:#b0c1dd;
}

.interjection {
    background-color:#b0ddd3;
}

.article {
    background-color:#c4b0dd;
}